h1 {
    color: blue;
    font-family: 'Staatliches', cursive;
}
#train {
    position:absolute;
    z-index:500;
    right:0px;
    top:10px;
    /* background-position: center; */
    opacity: .25;
}
.lead {
    color: #736A62;
    text-align: center;
    font-family: 'Pacifico', cursive;
}
.col-md-2 {
    color: #8D90A1;
}